<div class="flex flex-row h-full justify-center">
    <div class="h-fit w-1/4 bg-white rounded-xl p-8 mt-20 border border-gray-200">
    <p class="block text-2xl font-bold text-gray-800 text-center">Login</p>
        <form [formGroup]="loginForm" class="flex flex-col py-8">
            <div class="mb-4">
                <label for="email" class="block text-sm">Email</label>
                <input formControlName="email" placeholder="Email" required class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    Please enter a valid email address.
                </mat-error>
            </div>
           
            <div>
                <label for="password" class="block text-sm">Password</label>
                <input matInput type="{{hidePassword ? 'password':'text'}}" formControlName="password" placeholder="Password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required>

              <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text-red-400">
                    Please enter a vaild password .
                </mat-error>
            </div>
          
            <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()" class="mt-8 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">Login</button>
        </form>
    <mat-card-actions>
        <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
        Don't have an account yet?
        <button routerLink="/signup" class="text-blue-600 decoration-2 hover:underline font-medium dark:text-blue-500" >Sign Up</button>
        </p>
    </mat-card-actions>
</div>
</div>

