<div class="flex flex-row h-full justify-center">
    <div class="h-fit w-1/4 bg-white rounded-xl p-8 mt-20 border border-gray-200">
    <p class="block text-2xl font-bold text-gray-800 text-center">Sign Up</p>
        <form [formGroup]="signupForm" class="flex flex-col py-8">
            
            <div class="mb-4 w-full">
                <label for="name" class="block text-sm">Name</label>
                <input formControlName="name" placeholder="Name" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required>
                <mat-error *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">
                    Please enter a valid name.
                </mat-error>
            </div>
            <div class="mb-4 w-full">
                <label for="email" class="block text-sm">Email</label>
                <input formControlName="email" placeholder="email" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required>
                <mat-error *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
                    Please enter a vaild email .
                </mat-error>
            </div>
            <div class="mb-4 w-full">
                
                <label for="password" class="block text-sm">Password</label>
                <input type="{{hidePassword ? 'password':'text'}}" formControlName="password" placeholder="Password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required>

              <mat-error *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
                    Please enter a vaild password .
                </mat-error>
            </div>
            <div class="mb-4 w-full">
                <label for="confirm-password" class="block text-sm">Confirm Password</label>
                <input type="{{hidePassword ? 'password':'text'}}" formControlName="confirmPassword" placeholder="Password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required>

              <mat-error *ngIf="signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').touched">
                    Please enter a vaild confirm password .
                </mat-error>
            </div>
            <button type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()" class="mt-8 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">Sign Up</button>
        </form>
</div>
</div>
